
/* Looking at an artifact's details */

div.item_details {
  width: 100%;
}

div.item_details_back {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

div.item_details input[type="text"] {
  width: 100%;
  border: 1px solid black;
  cursor: text;
  font-size: 24px;
  font-family: "Bilbo Swash Caps";
}

div.item_details textarea {
  width: 100%;
  height: 70%;
  resize: none;
  border: 0px;
  font-size: 24px;
  font-family: "Bilbo Swash Caps";
  background-image: url('/themes/default/images/journal_entry_bg.png');
}

div.item_details select {
  display: inline;
}

/* Looking at a list of items */

div.item_list {
  font-size: 24px;
}

div.item_list_header {
  text-align: left;
  font-weight: bold;
}

div.item_list_item {
  border: 1px solid black;
}
