
/* Looking at a single journal entry */

div.journal_entry_text {
  width: 100%;
}

div.journal_entry_back {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

div.journal_entry_text input[type="text"] {
  width: 100%;
  border: 1px solid black;
  cursor: text;
  font-size: 24px;
  font-family: "Bilbo Swash Caps";
}

div.journal_entry_text textarea {
  width: 100%;
  height: 70%;
  resize: none;
  border: 0px;
  font-size: 24px;
  font-family: "Bilbo Swash Caps";
  background-image: url('/themes/default/images/journal_entry_bg.png');
}

/* Looking at a list of journal entries */

div.journal_entry_list {
  font-size: 24px;
}

div.journal_name {
  font-weight: bold;
  text-align: left;
}

div.journal_list_item {
  border: 1px solid black;
}
