
div.canvas_container, div.color_picker, div.tools_container {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
}

/* canvas */

div.canvas_container {
  width: 100%;
  height: 80%;
  position: relative;
}

#map_canvas {
  border: 1px solid black;
}

#temp_canvas {
  position: absolute;
  top: 1px;
  left: 1px;
}

#map_canvas:active, #map_canvas:focus {
  cursor: none;
}

#temp_canvas:active, #temp_canvas:focus {
  cursor: none;
}

/* color picker */

div.color_picker, div.tools_container {
  cursor: default;
}

#brush_canvas {
  cursor: pointer;
}

div.color_picker input {
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

div.color_picker input#white { background-color: white; }
div.color_picker input#yellow { background-color: yellow; }
div.color_picker input#red { background-color: red; }
div.color_picker input#fuchsia { background-color: fuchsia; }
div.color_picker input#silver { background-color: silver; }
div.color_picker input#gray { background-color: gray; }
div.color_picker input#olive { background-color: olive; }
div.color_picker input#purple { background-color: purple; }
div.color_picker input#maroon { background-color: maroon; }
div.color_picker input#aqua { background-color: aqua; }
div.color_picker input#lime { background-color: lime; }
div.color_picker input#teal { background-color: teal; }
div.color_picker input#green { background-color: green; }
div.color_picker input#blue { background-color: blue; }
div.color_picker input#navy { background-color: navy; }
div.color_picker input#black { background-color: black; }
