
/* Looking at a person's details */

div.person_details {
  width: 100%;
}

div.person_details_back {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

div.person_details input[type="text"] {
  width: 90%;
  border: 1px solid black;
  cursor: text;
  font-size: 24px;
  font-family: "Bilbo Swash Caps";
}

div.person_details textarea {
  width: 100%;
  height: 70%;
  resize: none;
  border: 0px;
  font-size: 24px;
  font-family: "Bilbo Swash Caps";
  background-image: url('/themes/default/images/journal_entry_bg.png');
}

div.person_details select {
  display: inline;
}

/* Looking at a list of people */

div.people_list {
  font-size: 24px;
}

div.people_list_header {
  text-align: left;
  font-weight: bold;
}

div.people_list_item {
  border: 1px solid black;
}
