@import url(http://fonts.googleapis.com/css?family=Bilbo+Swash+Caps);

/* General elements */

body {
    background: #DAB547;
    font-family: "Bilbo Swash Caps", Verdana, Arial, serif;
    font-size: 16px;
}

a {
    outline: none;
    text-decoration: none;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #111111;
}

img {
    border: 0;
}

ul {
    list-style-type: none;
}

form {
  display: inline;
  margin: 0px 0px 0px 0px;
}

select {
  background-color: #DAB547;
  border: 1px solid black;
}

input {
  background-color: #DAB547;
  border: 1px solid black;
  cursor: pointer;
}

/* Top nav */

div.top-nav {
}

/* Page content */

div.page {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

span.welcome {
  font-size: 24px;
}


/* Left nav */

div.left-nav {
    position: fixed;
    padding: 0 0 0 0;
    font-family: "Bilbo Swash Caps", Verdana, Arial, serif;
    font-size: 24px;
}

#left-nav ul {
    margin: 0;
    padding: 0;
    border: none;
}

#left-nav li {
    margin: 0;
}

#left-nav li a {
    display: block;
    padding: 5px 5px 5px 0.5em;
    border-left: 10px solid #333333;
    background-color: #555555;
    color: #fff;
    text-decoration: none;
    width: auto;
}

html.body #left-nav li a {
    width: auto;
}

#left-nav li a:hover {
    border-left: 10px solid #444444;
    /*border-right: 10px solid #aaaaaa;*/
    background-color: #666666;
    color: #fff;
}

/* Options button */

div.options-button {
  position: absolute;
  right: 0px;
  top: 0px;
  background-image: url('/themes/default/images/icon_gear.png');
  width: 32px;
  height: 32px;
}
